{{! The big featured header }}
<div class="header">
    <div class="container">
      <a href="#ios/android-link-placed-here-by-JS" class="app-download" target="_blank"></a>
      <a href="/"><img class="logo" src="/assets/img/siz-white.png" alt="Siz"></a>
      <div class="sub-logo">Video strips</div>
    </div>
  </div>