{{! The big featured header }}
<div class="header">
    <div class="container">
      <a href="#ios/android-link-placed-here-by-JS" class="app-download" target="_blank"></a>
      <a href="/"><img class="logo" src="{{asset "img/siz-white.png"}}" alt="Siz"></a>
    </div>
</div>
<div class="taglist-wrapper clearfix">
  <ul id="taglist" class="taglist">
      <li><a href="/">Home</a></li>
      <li><a href="/tag/1">Cats</a></li>
      <li><a href="/tag/2">Meaningful</a></li>
      <li><a href="/tag/3">WTF</a></li>
      <li class="mobile-hidden"><a href="/tag/4">This is a tag</a></li>
      <li class="mobile-hidden"><a href="/tag/5">Tag</a></li>
  </ul>
</div>